<h2>Totals</h2>

<h3>Customer Code: @ViewBag.CustomerCode</h3>

<p>Items Requested: @ViewBag.TotalItems</p>

<p>Taco Subtotal: @ViewBag.TacoSubtotal</p>

<p>Sandwiches Subtotal: @ViewBag.SandSubtotal</p>

<p>Subtotal: @ViewBag.PretaxSubtotal</p>

<p>Tax: @ViewBag.Tax</p>

<p>Total: @ViewBag.Grandtotal</p>
<a class="btn btn-primary" asp-action="Index">Back to Order Page</a>